.TodoForm {
}

.TodoForm form {
    display: flex;
    margin-bottom: 20px;
    position: relative;
    align-items: center;
}

.TodoForm form::after {
    content: "";
    display: block;
    height: 1px;
    background: #b3b3b3;
    width: 100%;
    position: absolute;
    top: 100%;
}

.TodoForm form input[type="text"] {
    font-size: 16px;
    height: 65px;
    border: 0;
    padding: 0 100px 0 20px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    flex-grow: 1;
}

.TodoForm form input[type="text"]:focus {
    outline: 0;
}

.TodoForm form button {
    position: absolute;
    right: 10px;
    background: #36393E;
    font-weight: bold;
    color: white;
    padding: 15px;
    border: 0;
    border-radius: 5px;
}
